<html>
	<head>
		<title>Headlines</title>
		<style>
		html {
			font-family: "Helvetica";
			background: white;
		}

		body {
			background: lightgrey;
			max-width: 900px;
			margin: 0 auto;
		}

		#header {
			padding-top: 5px;
			background: lightsteelblue;
		}

		#inner-header {
			padding-left: 10px;
		}

		#main {
			padding-left: 10px;
		}

		input[type="text"], select { 
			color: grey; 
			border: 1px solid lightsteelblue; 
			height: 30px; 
			line-height:15px; 
			margin: 2px 6px 16px 0px; 
		} 
		
		input[type="submit"] { 
			padding: 5px 10px 5px 10px; 
			color: black; 
			background: lightsteelblue; 
			border: none; 
			box-shadow: 1px 1px 1px #4C6E91; 
		} 
		
		input[type="submit"]:hover { 
			background: steelblue; 
		}
		</style>
	</head>
	<body>
		<div id="header">
			<div id="inner-header">
				<h1>Headlines</h1>
				<p>Headlines. Currency. Weather.</p>
			</div>
			<hr />
		</div>
		
		<div id="main">
			<h2>Current weather</h2>
			<p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
			<p>{{weather.description}} |{{weather.temperature}}&#8451;</p>
			<form>
				<input name="city" placeholder="weather search" type="text" value="" class="text">
				<input class="text" value="Submit" type="submit" name="">
			</form>
			<h2>Currency</h2>
			<form>
				from:
				<select name="currency_from">
					{% for currency in currencies %}
						<option {{'selected="selected"' if currency == currency_from}}
			value="{{currency}}">{{currency}}</option>
					{% endfor %}
				</select>

				to:
				<select name="currency_to">
					{% for currency in currencies %}
						<option {{'selected="selected"' if currency == currency_to}}
			value="{{currency}}">{{currency}}</option>
					{% endfor %}
				</select>
				<input class="text" name="" value="Submit" type="submit">
			</form>
			1 {{currency_from}} = {{currency_to}} {{rate}}
			<h2>Headlines</h2>
			<form>
				<input type="text" value="" name="publication" id="publication" placeholder="search"/>
				<input type="submit" value="Submit" name="" id=""/>
			</form>
			{% for article in articles %}
				<b><a href="{{article.link}}">{{article.title}}</a></b> <br />
				<i>{{article.published}}</i> <br />
				<p>{{article.summary}}</p>
				<hr />
			{% endfor %}
		</div>
	</body>
</html>
